@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #121212;
  color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cor primária personalizada (Dourado Coco Bambu) */
.text-gold {
  color: #d4af37 !important;
}

.bg-gold {
  background-color: #d4af37 !important;
  color: #000 !important;
}

.btn-gold {
  background-color: #d4af37;
  border-color: #d4af37;
  color: #000;
  font-weight: 500;
}

.btn-gold:hover {
  background-color: #c5a028;
  border-color: #c5a028;
}